extends ../layout.pug
block contenido
  #page-wrapper
    .row
      .col-md-4.col-md-offset-4
        .login-panel.panel.panel-default
          .panel-heading
            h3.panel-title Actualizar
          .panel-body
            if !AlertContrasena && !AlertUsername

              form(action="/users/"+usuarioUpdate._id+"?_method=PUT",method="POST")
                fieldset
                  .form-group
                    h5  Usuario:
                    input.form-control(type="text",name="username",value=usuarioUpdate.username, pattern="^([a-zA-Z0-9]{4,20})$", title="El nombre de usuario debe tener unicamente letras y numeros, minimo 4 caracteres y 20 como maximo" required)
                  .form-group
                    h5  Nombres:
                    input.form-control(type="text",name="name",value=usuarioUpdate.nombre, pattern="{3,40}$", title="El nombre  debe tener un minimo 3 caracteres y 40 como maximo" required)
                  .form-group
                    h5  Apellidos:
                    input.form-control(type="text" ,name="last_name", value=usuarioUpdate.apellido, pattern="{3,40}$", title="El apellido debe tener un minimo 3 caracteres y 40 como maximo" required)
                  .form-group
                    h5  Contraseña:
                    input.form-control(type="text" ,name="password",value=usuarioUpdate.password, pattern="^([a-zA-Z0-9]{4,20})$", title="La contraseña debe tener unicamente letras y numeros, minimo 4 caracteres y 20 como maximo" required)
                  .form-group
                    h5  Confirmación de contraseña:
                    input.form-control(type="text" ,name="password_confirmation" ,value=usuarioUpdate.password, pattern="^([a-zA-Z0-9]{4,20})$",title="La contraseña debe tener unicamente letras y numeros, minimo 4 caracteres y 20 como maximo" required)

                  if usuario.permisos == 2
                    .form-group
                      link(href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css', rel='stylesheet')
                      select.form-control.selectpicker(name="plaza", data-live-search="true")
                        for sucursal in sucursales
                          option(name="1") #{sucursal.plaza}
                    .form-group
                      h5  Permisos:
                      select.form-control(name="permisos")
                        option(name="admin") Administrador
                        option(name="normal") Recepcionista
                  .form-group
                    h5  Estado:
                    select.form-control(name="status")
                      option(name="activo") Activo
                      option(name="inactivo") Inactivo
                  .form-group
                  input(type="submit" value="Actualizar" class="btn btn-lg btn-primary btn-block")

            else if AlertUsername

              form(action="/users/"+username+"?_method=PUT",method="POST")
                fieldset
                  .alert.alert-warning.alert-dismissable
                    button.close(type='button', data-dismiss='alert', aria-hidden='true') ×
                    | El nombre de usuario ya existe
                  .form-group.has-error
                    h5  Usuario:
                    input#inputError.form-control(type="text", name="username", value=un,pattern="^([a-zA-Z0-9]{4,20})$", title="El usuario debe tener unicamente letras y numeros, minimo 4 caracteres y 20 como maximo" required)
                  .form-group
                    h5  Nombres:
                    input.form-control(type="text", name="name", value=nm,pattern="{1,40}$", title="El nombre debe tener un maximo de 40 caracteres" required)
                  .form-group
                    h5  Apellidos:
                    input.form-control(type="text", name="last_name", value=ln,pattern="{1,40}$", title="El apellido debe tener un maximo de 40 caracteres" required)
                  .form-group
                    h5  Contraseña:
                    input.form-control(type="text", name="password", value=pw,pattern="^([a-zA-Z0-9]{8,20})$", title="La contraseña debe tener como minimo 8 caracteres y maximo 20" required)
                  .form-group
                    h5  Confirmación de contraseña:
                    input.form-control(type="text", name="password_confirmation", value=pwc,pattern="^([a-zA-Z0-9]{8,20})$", title="La contraseña debe tener como minimo 8 caracteres y maximo 20" required)
                  if usuario.permisos == 2
                    .form-group
                      link(href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css', rel='stylesheet')
                      select.form-control.selectpicker(name="plaza", data-live-search="true")
                        for sucursal in sucursales
                          option(name="1") #{sucursal.plaza}
                    .form-group
                      h5  Permisos:
                      select.form-control(name="permisos")
                        option(name="admin") Administrador
                        option(name="normal") Recepcionista
                  .form-group
                    h5  Estado:
                    select.form-control(name="status")
                      option(name="activo") Activo
                      option(name="inactivo") Inactivo
                  .form-group
                  input(type="submit" value="Actualizar" class="btn btn-lg btn-primary btn-block")

            else if AlertContrasena

              form(action="/users/"+usuarioUpdate.username+"?_method=PUT",method="POST")
                fieldset
                  .form-group
                    h5  Usuario:
                    input.form-control(type="text", name="username", value=un,pattern="^([a-zA-Z0-9]{4,20})$", title="El usuario debe tener unicamente letras y numeros, minimo 4 caracteres y 20 como maximo" required)
                  .form-group
                    h5  Nombres:
                    input.form-control(type="text", name="name", value=nm,pattern="{1,40}$", title="El nombre debe tener un maximo de 40 caracteres" required)
                  .form-group
                    h5  Apellidos:
                    input.form-control(type="text", name="last_name", value=ln,pattern="{1,40}$", title="El apellido debe tener un maximo de 40 caracteres" required)
                  .alert.alert-warning.alert-dismissable
                    button.close(type='button', data-dismiss='alert', aria-hidden='true') ×
                    | Las contraseñas no coinciden
                  .form-group.has-error
                    h5  Contraseña:
                    input#inputError.form-control(type="text", name="password", value=pw,pattern="^([a-zA-Z0-9]{8,20})$", title="La contraseña debe tener como minimo 8 caracteres y maximo 20" required)
                  .form-group.has-error
                    h5  Confirmación de contraseña:
                    input#inputError.form-control(type="text", name="password_confirmation", value=pwc,pattern="^([a-zA-Z0-9]{8,20})$", title="La contraseña debe tener como minimo 8 caracteres y maximo 20" required)
                  if usuario.permisos == 2
                    .form-group
                      link(href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css', rel='stylesheet')
                      select.form-control.selectpicker(name="plaza", data-live-search="true")
                        for sucursal in sucursales
                          option(name="1") #{sucursal.plaza}
                    .form-group
                      h5  Permisos:
                      select.form-control(name="permisos")
                        option(name="admin") Administrador
                        option(name="normal") Recepcionista
                  .form-group
                    h5  Estado:
                    select.form-control(name="status")
                      option(name="activo") Activo
                      option(name="inactivo") Inactivo
                  .form-group
                  input(type="submit" value="Actualizar" class="btn btn-lg btn-primary btn-block")
  // jQuery
  script(src='/src/vendor/jquery/jquery.min.js')
  // Bootstrap Core JavaScript
  script(src='/src/vendor/bootstrap/js/bootstrap.min.js')
  // Metis Menu Plugin JavaScript
  script(src='/src/vendor/metisMenu/metisMenu.min.js')
  // Custom Theme JavaScript
  script(src='/src/dist/js/sb-admin-2.js')
