extends ../layout.pug
block contenido

  #page-wrapper
    .row
      .col-lg-12
        h3.page-header Registro de Movimientos
    .row
      .col-lg-12
        .panel.panel-default
          .panel-heading
            | Productos
          .panel-body
            table#dataTables-example.table.table-striped.table-bordered.table-hover
              thead
                tr
                  th Producto
                  th Cantidad
                  th Tipo
                  th Usuario
                  if usuario.permisos == 2
                    th Sucursal
                  th Fecha
              tbody
                if usuario.permisos == 1
                  for movimiento in movimientos
                    tr.odd.gradeX
                      td #{movimiento.producto.nombre}
                      td #{movimiento.cantidad}
                      if movimiento.tipo == 0
                        td Paso a consumo
                      else

                        td Agrego producto
                      td #{movimiento.usuario.nombre} #{movimiento.usuario.apellido}
                      td #{movimiento.fecha.getHours() - 7}:#{movimiento.fecha.getMinutes()}:#{movimiento.fecha.getSeconds()} #{movimiento.fecha.getDate()}/#{movimiento.fecha.getMonth()}/#{movimiento.fecha.getFullYear()}  

                else

                  for movimiento in movimientos
                    tr.odd.gradeX
                      td #{movimiento.producto.nombre}
                      td #{movimiento.cantidad}
                      if movimiento.tipo == 0
                        td Paso a consumo
                      else

                        td Agrego producto
                      td #{movimiento.usuario.nombre} #{movimiento.usuario.apellido}
                      td #{movimiento.sucursal.plaza}
                      td #{movimiento.fecha.getHours() - 7}:#{movimiento.fecha.getMinutes()}:#{movimiento.fecha.getSeconds()} #{movimiento.fecha.getDate()}/#{movimiento.fecha.getMonth()}/#{movimiento.fecha.getFullYear()}
        // /.panel
      // /.col-lg-12
    // /.row
    // jQuery
    script(src='/src/vendor/jquery/jquery.min.js')
    // Bootstrap Core JavaScript
    script(src='/src/vendor/bootstrap/js/bootstrap.min.js')
    // Metis Menu Plugin JavaScript
    script(src='/src/vendor/metisMenu/metisMenu.min.js')
    // DataTables JavaScript
    script(src='/src/vendor/datatables/js/jquery.dataTables.min.js')
    script(src='/src/vendor/datatables-plugins/dataTables.bootstrap.min.js')
    script(src='/src/vendor/datatables-responsive/dataTables.responsive.js')
    // Custom Theme JavaScript
    script(src='/src/dist/js/sb-admin-2.js')
    // Page-Level Demo Scripts - Tables - Use for reference
    if usuario.permisos == 2
      script.
        $(document).ready(function() {
          $('#dataTables-example').DataTable({
            responsive: true,
            "order": [[ 5, "desc" ]]
          });
        });

    else

      script.
        $(document).ready(function() {
          $('#dataTables-example').DataTable({
            responsive: true,
            "order": [[ 4, "desc" ]]
          });
        });
