extends ../layout.pug
block contenido
  
  #page-wrapper
    .row
      .col-lg-12
        h3.page-header Productos en existencia
    .row
      .col-lg-12
        .panel.panel-default
          .panel-heading
            | Productos
          .panel-body
            table#dataTables-example.table.table-striped.table-bordered.table-hover
              thead
                tr
                  th Nombre
                  th Codigo
                  th Cantidad
                  if usuario.permisos==2
                    th Sucursal
                  else

                    th Acción
              tbody
                if usuario.permisos < 2
                  - var i = 1
                  for alm in almacen
                    tr.odd.gradeX
                      td #{alm.producto.nombre}
                      td #{alm.producto.codigo}
                      if alm.cantidad > alm.producto.minimo
                        td #{alm.cantidad}
                      else

                        td(style="color:red" title="Pocos productos") #{alm.cantidad}
                      td(id="columna"+i)
                        form(style="display:inline" action="/almacen/"+alm._id+"?_method=PUT",method="POST",  onsubmit="return confirm('¿Esta seguro que desea realizar esos cambios?')")
                          input.form-control(type="number" name="cantidad" min="0" max="10000" value="0" required)
                          b &nbsp &nbsp &nbsp
                          button(type="submit/image" alt="text" name="botton1" class="btn btn-primary btn-circle")
                            i.fa.fa-plus(title="Agregar")
                          if !alm.producto.esBasico                            
                            b &nbsp &nbsp &nbsp
                            button(type="submit/image" alt="text" name="botton2" class="btn btn-danger btn-circle")
                              i.fa.fa-minus(title="Pasar a consumo")
                          
                          else      
                            
                            b &nbsp &nbsp &nbsp
                            button(type="submit/image" alt="text" name="botton2" class="btn btn-danger btn-circle" disabled)
                              i.fa.fa-minus(title="Pasar a consumo")
                
                else

                  for alm in almacen
                    tr.odd.gradeX
                      td #{alm.producto.nombre}
                      td #{alm.producto.codigo}
                      if alm.cantidad > alm.producto.minimo
                        td #{alm.cantidad}
                      else

                        td(style="color:red" title="Pocos productos")  #{alm.cantidad}
                      td #{alm.sucursal.plaza}
            // /.panel-body
        // /.panel
      // /.col-lg-12
    // /.row
    // jQuery
    script(src='/src/vendor/jquery/jquery.min.js')  
    // Bootstrap Core JavaScript
    script(src='/src/vendor/bootstrap/js/bootstrap.min.js')
    // Metis Menu Plugin JavaScript
    script(src='/src/vendor/metisMenu/metisMenu.min.js')
    // DataTables JavaScript
    script(src='/src/vendor/datatables/js/jquery.dataTables.min.js')
    script(src='/src/vendor/datatables-plugins/dataTables.bootstrap.min.js')
    script(src='/src/vendor/datatables-responsive/dataTables.responsive.js')
    // Custom Theme JavaScript
    script(src='/src/dist/js/sb-admin-2.js')
    // Page-Level Demo Scripts - Tables - Use for reference
    script(src="/src/excel/js/xlsx.core.min.js")
    script(src="/src/excel/js/FileSaver.min.js")
    script(src="/src/excel/js/tableexport.min.js")
    script.
      $(document).ready(function() {
        $('#dataTables-example').DataTable({
          responsive: true
        });
      });
    script.
      $("table").tableExport({
          formats: ["xlsx"],
          bootstrap: true,
          ignoreCols: 3, 
          fileName: "Almacen"
      });/*
      $("table").tableExport({
          headings: true,                    // (Boolean), display table headings (th/td elements) in the <thead>
          footers: true,                     // (Boolean), display table footers (th/td elements) in the <tfoot>
          formats: ["xlsx","xls", "csv", "txt"],    // (String[]), filetypes for the export
          fileName: "id",                    // (id, String), filename for the downloaded file
          bootstrap: true,                   // (Boolean), style buttons using bootstrap
          position: "bottom"                 // (top, bottom), position of the caption element relative to table
          ignoreRows: null,                  // (Number, Number[]), row indices to exclude from the exported file
          ignoreCols: null                   // (Number, Number[]), column indices to exclude from the exported file
          ignoreCSS: ".tableexport-ignore"   // (selector, selector[]), selector(s) to exclude from the exported file
      });*/
