extends ../layout.pug
block contenido
  #page-wrapper
    .row
      .col-md-4.col-md-offset-4
        .login-panel.panel.panel-default
          .panel-heading
            h3.panel-title Registrar Producto
          .panel-body
            if !AlertNombre && !AlertCodigo

              form(action="/products/new",method="POST",role='form')
                fieldset
                  .form-group
                    h5  Nombre:
                    input.form-control(type="text", name="nombre", placeholder="Nombre", pattern="{3,40}$",title="El nombre del producto debe tener un minimo 3 caracteres y 40 como maximo")
                  .form-group
                    h5  Codigo de barras:
                    input.form-control(type="text", name="codigo", placeholder="Codigo de barra" required, pattern="{3,30}$",title="El nombre de la plaza debe tener un minimo 3 caracteres y 30 como maximo")
                  .form-group
                    h5  Descripcion:
                    input.form-control(type="text", name="descripcion", placeholder="Descripcion" required, pattern="{3,70}$",title="El nombre de la plaza debe tener un minimo 3 caracteres y 70 como maximo")
                  .form-group
                    h5  Cantidad minima:
                    input.form-control(type="number" placeholder="Cantidad minima" name="minimo" min="0" max="10000", title="Cantidad minima del producto en el almacen" required)
                  .form-group
                    h5  Categoria:
                    select.form-control.selectpicker(name="categoria", data-live-search="true")
                      for categoria in categorias
                        option(name="1") #{categoria.nombre}
                  //esto todavia hay que ver los estilos para poner un select en vez de un input
                  // boton para registrar
                  .form-group
                    label Basico
                    .radio
                      label
                        input#optionsRadios1(type='radio', name='optionsRadios', value='option1')
                        | Si
                    .radio
                      label
                        input#optionsRadios2(type='radio', name='optionsRadios', value='option2',checked='')
                        | No
                  .form-group
                  input(type="submit" value="Agregar Producto" class="btn btn-lg btn-primary btn-block")

            else if AlertNombre

              form(action="/products/new",method="POST",role='form')
                fieldset
                  .alert.alert-warning.alert-dismissable
                    button.close(type='button', data-dismiss='alert', aria-hidden='true') ×
                    | Ya existe un producto con ese nombre
                  .form-group.has-error
                    h5  Nombre:
                    input#inputError.form-control(type="text", name="nombre", value=nombre, pattern="{3,40}$",title="El nombre del producto debe tener un minimo 3 caracteres y 40 como maximo" required)
                  .form-group
                    h5  Codigo:
                    input.form-control(type="text", name="codigo", value=codigo, pattern="{3,30}$",title="El nombre de la plaza debe tener un minimo 3 caracteres y 30 como maximo" required)
                  .form-group
                    h5  Descripcion:
                    input.form-control(type="text", name="descripcion", value=descripcion, pattern="{3,70}$",title="El nombre de la plaza debe tener un minimo 3 caracteres y 70 como maximo" required)
                  .form-group
                    h5  Cantidad minima:
                    input.form-control(type="number", value=minimo ,name="minimo", min="0", max="10000", title="Cantidad minima del producto en el almacen" required)
                  .form-group
                    h5  Categoria:
                    select.form-control.selectpicker(name="categoria", data-live-search="true")
                      for categoria in categorias
                        option(name="1") #{categoria.nombre}
                  //esto todavia hay que ver los estilos para poner un select en vez de un input
                  // boton para registrar
                  .form-group
                    label Basico
                    .radio
                      label
                        input#optionsRadios1(type='radio', name='optionsRadios', value='option1', checked='')
                        | No
                    .radio
                      label
                        input#optionsRadios2(type='radio', name='optionsRadios', value='option2')
                        | Si
                  .form-group
                  input(type="submit" value="Agregar Producto" class="btn btn-lg btn-primary btn-block")

            else if AlertCodigo

              form(action="/products/new",method="POST",role='form')
                fieldset
                  .form-group
                    h5  Nombre:
                    input.form-control(type="text", name="nombre", value=nombre, pattern="{3,40}$",title="El nombre del producto debe tener un minimo 3 caracteres y 40 como maximo" required)
                  .alert.alert-warning.alert-dismissable
                    button.close(type='button', data-dismiss='alert', aria-hidden='true') ×
                    | Ya existe un producto con ese codigo
                  .form-group.has-error
                    h5  Codigo:
                    input#inputError.form-control(type="text", name="codigo", value=codigo, pattern="{3,30}$",title="El nombre de la plaza debe tener un minimo 3 caracteres y 30 como maximo" required)
                  .form-group
                    h5  Descripcion:
                    input.form-control(type="text", name="descripcion", value=descripcion, pattern="{3,70}$",title="El nombre de la plaza debe tener un minimo 3 caracteres y 70 como maximo" required)
                  .form-group
                    h5  Cantidad minima:
                    input.form-control(type="number", value=minimo  ,name="minimo", min="0", max="10000", title="Cantidad minima del producto en el almacen" required)
                  .form-group
                    h5  Categoria:  
                    select.form-control.selectpicker(name="categoria", data-live-search="true")
                      for categoria in categorias
                        option(name="1") #{categoria.nombre}
                  //esto todavia hay que ver los estilos para poner un select en vez de un input
                  // boton para registrar
                  .form-group
                    label Basico
                    .radio
                      label
                        input#optionsRadios1(type='radio', name='optionsRadios', value='option1', checked='')
                        | No
                    .radio
                      label
                        input#optionsRadios2(type='radio', name='optionsRadios', value='option2')
                        | Si
                  .form-group
                  input(type="submit" value="Agregar Producto" class="btn btn-lg btn-primary btn-block")
  // jQuery
  script(src='/src/vendor/jquery/jquery.min.js')
  // Bootstrap Core JavaScript
  script(src='/src/vendor/bootstrap/js/bootstrap.min.js')
  // Metis Menu Plugin JavaScript
  script(src='/src/vendor/metisMenu/metisMenu.min.js')
  // Custom Theme JavaScript
  script(src='/src/dist/js/sb-admin-2.js')
  script(src='/src/dist/js/bootstrap-select.min.js')
